:root {
  --bg-color: #0b1e1a;
  --text-color: #5a736c;
  --accent-color: #f2c063;
  --input-bg: #14332d;
  --input-border: #295348;
  --input-focus-border: #f2c063;
  --button-bg: var(--accent-color);
  --button-text: #0b1e1a;
  --error-color: #e94e1b;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background-color: #162f2a;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  width: 320px;
  box-sizing: border-box;
}

form h1 {
  margin-bottom: 1.5rem;
  color: var(--accent-color);
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--accent-color);
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--input-border);
  border-radius: 8px;
  background-color: var(--input-bg);
  color: var(--text-color);
  font-size: 1rem;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: var(--input-focus-border);
  box-shadow: 0 0 8px var(--accent-color);
  color: #fff;
  background-color: #1e4e3f;
}

button[type="submit"] {
  width: 100%;
  padding: 0.7rem 0;
  margin-top: 1.5rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(242, 192, 99, 0.6);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #d1a740;
  box-shadow: 0 8px 20px rgba(209, 167, 64, 0.8);
}

#notif {
  margin-top: 1rem;
  font-weight: 600;
  text-align: start;
  color: var(--accent-color);
  min-height: 24px;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  padding: 24px 12px;
  background-color: var(--bg-color);
  border: var(--accent-color) 1px solid;
  ul {
    padding-left: 1rem;

    li{
      list-style: none;
      margin-bottom: 0.2rem;
    }
  }
}
